.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    header {
        padding: 1.25rem 0;
    }

    .nav-logo-wrapper {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    nav .links {
        gap: 0 3.75rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }

    .animated-img {
        display: block;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}