.container {
    width: 100%;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .header__wrapper {
        flex-flow: row;
        justify-content: space-between;
        flex: 0 0 auto;
    }

    .header__menu-link {
        align-items: center;
        height: 72px;
        padding: 0 30px;
    }

    .landing {
        min-height: calc(100vh - 72px);
    }

    .mega-links {
        flex-flow: row;
        align-items: center;
        padding: 1.875rem;
        gap: 2.5rem;
    }

    .mega-links .links {
        flex: 1;
    }

    .mega-links .links:first-of-type li:last-of-type a::before {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }

    .landing__wrapper {
        display: flex;
        align-items: center;
    }

    .landing__wrapper-img {
        display: block;
    }

    .mega-links .image {
        display: block;
    }

    .mega-links .image img {
        max-width: 300px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .mega-links .image img {
        max-width: 600px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}