@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root {
    /* Font size */
    /* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.6076rem, 0.5527rem + 0.2748vw, 0.8rem);
    --step--1: clamp(0.7292rem, 0.6518rem + 0.3869vw, 1rem);
    --step-0: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
    --step-1: clamp(1.05rem, 0.9036rem + 0.7321vw, 1.5625rem);
    --step-2: clamp(1.26rem, 1.062rem + 0.9902vw, 1.9531rem);
    --step-3: clamp(1.512rem, 1.2465rem + 1.3277vw, 2.4414rem);
    --step-4: clamp(1.8144rem, 1.4609rem + 1.7677vw, 3.0518rem);
    --step-5: clamp(2.1773rem, 1.7094rem + 2.3392vw, 3.8147rem);

    /* Colors */
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-background: #ececec;
    
    /* Transitions */
    --main-transition: .3s;
    --main-transition-alt: .7s;


    /* Main Padding */
    --main-padding: 1rem;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    line-height: 1.5;
    font-family: 'Cairo', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header, main, footer {
    grid-column: 1 / -1;
}

img,
picture,
video,
iframe,
canvas,
svg {
    max-inline-size: 100%;
    block-size: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Custom */

/* Top of header */
header {
    padding: 0.625rem 0;
    z-index: 1;
    box-shadow: 0 0 10px #090979;
}

.nav-logo-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    text-transform: capitalize;
}

.logo {
    font-size: var(--step-3);
    font-weight: 700;
    color:var(--main-color) ;
}

nav .links {
    display: flex;
    font-size: var(--step-0);
    gap: 0 .5rem;
}

.links li a {
    position: relative;
    padding: 0.6rem;
}

.links li a::before {
    position: absolute;
    content: "";
    inline-size: 100%;
    inset: 0;
    margin: 0 auto;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--main-transition) ease;
    background-color: var(--main-color);
}

.links li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.links li a:hover::before {
    transform: scaleX(1);
}
/* Bottom of header */

/* Top of main */
main {
    display: grid;
    gap: 6rem 0;
    position: relative;
}
.landing-wrapper {
    display: flex;
    flex-flow: column;
    position: relative;
    min-height: calc(100vh - 73px);
    min-height: calc(100svh - 73px);
    z-index: 1;
    overflow: hidden;
}

.landing-wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /* top: -80px; */
    top: -7vh;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
}

.bouncing-arrows {
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%);
    animation: bounceArrow 1.5s;
    animation-iteration-count: infinite;
}

.bouncing-arrows span {
    display: block;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    border: 5px solid var(--main-color);
    border-radius: 4px;
    border-top-color: transparent;
    border-left-color: transparent;
    margin: -5px 0;
}

@keyframes bounceArrow {
    0%, 10%, 20%, 50%, 80%, 100% {
        translate: 0;
    }

    40%, 60% {
        translate: 0 -15px;
    }
}

.welcome-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 1rem;
    padding-block-end: 6.25rem;
}

.welcome-inner {
    color: white;
    text-align: center;
}

.welcome-inner h1 {
    text-transform: capitalize;
    font-size: var(--step-3);
}

.welcome-inner p {
    font-size: var(--step-1);
    opacity: 70%; /* 60% main value */
}

.welcome-inner p::first-letter {
    text-transform: capitalize;
}

.animated-img {
    display: none;
    width: 100%;
    max-width: 600px;
    animation: move 5s infinite linear;
}

@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);  
    }
}
/* Bottom of main */

/* Top of Articles */
.articles-wrapper .section-title {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 1.25rem;
    margin-bottom: 5rem;
    /* font-size: var(--step-4); */
    font-size: var(--step-3);
    text-transform: uppercase;
    border: 2px solid black;
}

/* Style for both bullets */
.articles-wrapper .section-title::before,
.articles-wrapper .section-title::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: -1;
    background-color: var(--main-color);
}

/* position */
.articles-wrapper .section-title:before {
    left: -30px;
}

.articles-wrapper .section-title:after {
    right: -30px;
}

/* hover */
.articles-wrapper .section-title:hover::before {
    animation: left-move var(--main-transition-alt) linear forwards;
}

.articles-wrapper .section-title:hover::after {
    animation: right-move var(--main-transition-alt) linear forwards;
}

.articles-wrapper .section-title:hover {
    color: white;
    border-color: white;
    transform: scale(.9);
    transition: .3s .7s;
}

/* Animation */
@keyframes left-move {
    50% {
        left: 10px;
        width: 12px;
        height: 12px;
    }
    
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 10px;
        width: 12px;
        height: 12px;
    }
    
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

.articles-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    padding: 0 var(--main-padding); 
}

/* Card Styles */
.articles-inner .card {
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.articles-inner .card .content .info,
.articles-inner .card .content .button {
    padding: 1.25rem;
}

.articles-inner .card .content .button {
    border-top: 1px solid rgb(0, 0, 0, .1);
}

.articles-inner .card .content .info .title,
.articles-inner .card .content .button .title {
    text-transform: capitalize;
}

.articles-inner .card .content .button {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}

.articles-inner .card .content .info .text {
    opacity: 70%;
}

.articles-inner .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

/* Card Arrow Styles & Animation */
.articles-inner .card .content .button .arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 14px;
    height: 3px;
    position: relative;
    margin: auto 0;
    background-color: var(--main-color);
}

.articles-inner .card .content .button .arrow::before {
    position: absolute;
    content: "";
    border: 3px solid var(--main-color);
    transform: rotate(-45deg);
    border-left-color: transparent;
    border-top-color: transparent;
}

.articles-inner .card:hover .content .button .arrow {
    animation: moveArrow .6s infinite forwards;
}

@keyframes moveArrow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}
/*  */

